#cloud-config
disable_root: false

write_files:
- path: /etc/profile.d/openshift.sh
  owner: root:root
  permissions: '0440'
  content: |
    export GOPATH=/data
    export PATH=/data/origin/_output/local/bin/linux/amd64:/bin:/usr/local/sbin:/sbin:/bin:/usr/sbin:/usr/bin:/root/bin
    export KUBECONFIG=/etc/origin/master/admin.kubeconfig

runcmd:
 - yum clean all

packages:
 - wget
 - git
 - net-tools
 - bind-utils
 - iptables-services
 - bridge-utils
 - bash-completion
 - NetworkManager

#write_files:
#- path: /etc/sudoers.d/99-ec2-user-cloud-init-requiretty
#  owner: root:root
#  permissions: '0440'
#  content: |
#    Defaults:ec2-user !requiretty
#- path: /etc/ssh/sshd_config
#  owner: root:root
#  permissions: '0440'
#  content: |
#    PermitRootLogin yes
#    PermitRootLogin without-password

